@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Jamie Lu
   Date:   February 26, 2020

   Filename:         pcg_paper.css
   Supporting Files: pcg_front.html

*/


/*Styles */

/*Links*/

a:hover{
   color: whitesmoke;
   font-size: 20px;
}


/*Top Image*/

img {
   display: block;
   position:relative;
   top: 0px;
   bottom: 10px;
   left: 0px;
   width: 70%;
}

#marathonWinner {
   float: left;
   width: 11.5%;
   position: relative;
   left: 10px;
}

#highway {
   width: 80%;
   padding: 1em;
}

/*Body*/
body {
   background-color: rgb(74, 60, 11);
   display: block;
   margin: 8px;
}

/*Positioning*/
#topNewsHeading {
   position: relative;
   left: 15em;
}

.topNews#para1 {
   position: relative;
   left: 30px;
   top: 15px;
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
}

.topNews#para2 {
   position: relative;
   left: 30px;
   top: 15px;
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
}

.topNews#para3 {
   position: relative;
   left: 30px;
   top: 15px;
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
}

.subNewsHeading#headingA {
   position: relative;
   top: 100px;
   left: 70px;
}

.subNewsHeading#headingB {
   position: relative;
   top: 55px;
   left: 155px;
}

.subNewsHeading#headingC {
   clear: left;
   position: relative;
   top: 0.5em;
   left: 3.5em;
}

.subNews#articleA {
   float: left;
   position: relative;
   top: 70px;
   left: 70px;
}

.subNews#articleB {
   float: left;
   position: relative;
   top: 30px;
   left: 150px;
}

.subNews#articleC {
   clear: left;
   position: relative;
   left: 70px;
}


#sideNav {
   position: fixed;
   left: 1350px;
   top: 10px;
   width: 300px;
   height: 850px;
   border: 2px solid rgb(255, 187, 0);
}

#footer{
   position: relative;
   top: 20em;
   left: 450px;
}

/*Lists*/
/*Stories Inside Dropdown*/
#dropdownHead{
   background-color: peru;
   position: absolute;
   top: 10px;
   width: 235px;
   margin: 2px;
   font-size: 25px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   border: none;
   cursor: pointer;
}

.dropdown {
   position: relative;
   left: 30px;
   top: 20px;
   display: inline-block;
}

.dropdown-content {
   display: none;
   position: relative;
   top: 50px;
   background-color: #000000;
   min-width: 205px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   padding: 12px 16px;
   z-index: 1;
}

.dropdown-content a {
   color: rgb(123, 51, 33);
   font-family: Calibri;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }

 .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
   display: block;
 }

.dropList{
   text-decoration: none;
   list-style-type: none;
}

/*Side List*/
#sideNav .sideList {
   list-style-type: none;
   font-size: 22px;
	font-family: Calibri;
   padding-top: 1em;
   padding-bottom: 0.4em;
   position: relative;
   top: 40px;
}

#sideNav .sideList a {
   text-decoration: none;
   color: white;
}

/*Styles*/
#topNewsHeading {
   color: rgb(174, 124, 70);
   font-size: 30px;
}

.topNews {
   color: white;
   display: block;
   font-size: 20px;
   font-family: Calibri;
}

.subNewsHeading {
   color: rgb(174, 124, 70);
   font-size: 20px;
}

.subNews {
   color: white;
   display: block;
   font-size: 20px;
   border: 2px dashed rgb(255, 255, 255);
   background-color: rgba(241, 182, 94, 0.605);
   width: 25em;
   padding: 1em;
}

/*Footer*/
#footer {
	color: white;
}